*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: #6d28d9;
    --primaryColorLight: #ede9fe;
    --mainRed: #db2777;
    --mainBlack: #222;
    --mainGray: #7c7c7c;
    --lightGray: #dbd9d9;
    --bodyColor: #f6f6f6;
    --whiteColor: #fff;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    background-color: var(--bodyColor);
}

ul {
    list-style: none;
}

h1,
h2 {
    font-weight: 400;
    text-transform: capitalize;
}

p {
    font-size: 1.6rem;
}

.container {
    margin: 0 13%;
}

.btn {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    &--primary,
    &--secondary {
        border-radius: 1.5rem;
        padding: 1rem 2rem;
    }
    &--primary {
        background-color: var(--primaryColorLight);
        color: var(--primaryColor);
    }
    &--secondary {
        background-color: transparent;
        border: 1px solid var(--primaryColor);
        color: var(--primaryColor);
    }
}

nav {
    width: 100%;
    height: 6rem;
    background-color: var(--primaryColorLight);
}

.nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__toggle {
        width: 3rem;
        height: 3rem;
        span {
            position: relative;
            display: block;
            top: 1rem;
            transition: all 0.4s;
            &,
            &::before,
            &::after {
                width: 3rem;
                height: 3px;
                background-color: var(--mainBlack);
            }
            &::before,
            &::after {
                content: "";
                position: absolute;
            }
            &::before {
                top: -1rem;
            }
            &::after {
                top: 1rem;
            }
        }
        &:hover span {
            width: 0;
            background-color: var(--lightGray);
            &::before {
                transform-origin: center;
                transform: translateY(1rem) rotate(-135deg);
            }
            &::after {
                transform-origin: center;
                transform: translateY(-1rem) rotate(135deg);
            }
        }
    }
    &__cart {
        font-size: 2.4rem;
        color: var(--primaryColor);
        position: relative;
        &-num {
            position: absolute;
            top: -10px;
            right: -10px;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: var(--mainRed);
            color: var(--whiteColor);
            font-size: 1.8rem;
            text-align: center;
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 0;
    h1 {
        margin-bottom: 4rem;
    }
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    &-item {
        max-width: 45rem;
        // height: 35rem;
        background-color: var(--whiteColor);
        display: flex;
        flex-direction: column;
        &__img img {
            width: 100%;
            object-fit: cover;
        }
        &__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            &>* {
                margin: 1.5rem 0;
            }
        }
        &__entry {
            width: 100%;
            display: flex;
            justify-content: space-around;
            &-price {
                color: var(--primaryColor);
            }
            &-title {
                color: var(--mainGray);
            }
        }
    }
}

.backdrop {
    display: none;
    width: 100%;
    height: 100%;
    background-color: var(--mainGray);
    opacity: 0.6;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}

.modal {
    height: 100%;
    width: 60rem;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background-color: var(--bodyColor);
    display: none;
    // display: flex;
    flex-direction: column;
    align-items: center;
    &__close-btn {
        align-self: flex-start;
        padding: 2rem;
        font-size: 2.5rem;
    }
    & .cart {
        &-list {
            padding: 3rem 4rem;
            width: 100%;
        }
        &-item {
            width: 100%;
            height: 8rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 4rem;
            margin-bottom: 2rem;
            &__img {
                width: 35%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &__text {
                width: calc(65% - 6rem);
                align-self: flex-start;
                h4 {
                    margin-bottom: 1.5rem;
                }
            }
            &__counter {
                font-size: 2rem;
                width: 3rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                .increament-btn {
                    color: var(--primaryColor);
                }
                .decreament-btn {
                    color: var(--mainRed);
                }
            }
            & .btn.clear-item {
                width: 1.7rem;
                font-size: 2rem;
            }
        }
    }
    &__footer {
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        position: absolute;
        bottom: 0;
    }
}